//
   Created by Win on 2017/3/2.
extends layout
block otherHead
    link(rel="stylesheet",href="/css/bulidpop.css",type="text/css")
    link(rel="stylesheet",href="/css/jquery.sinaEmotion.css",type="text/css")
    style.
        .abtn {
            font-weight: 500;
            border-radius: 2px;
            float: right;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            background-image: none;
            border: 1px solid transparent;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        .form-group1 {
            height: 20px;
        }

        .m-t-lg {
            margin-bottom: 10px;
        }

        .ziti {
            font-family: inherit;
            font-size: 12px;
            line-height: 1.1;
        }

        /* .m-t-none {
                margin-top: 0;
                font-size: 23px;
            }*/
        .m-t-lg {
            margin-bottom: 10px;
            color: #333;
        }

        body {
            font-size: 12px;
        }

        .m-b-lg {
            margin-bottom: 15px;
        }

        .m-t-sm-return {
            float: right;
        }

        .m-t-sm {
            height: 50px;
        }

        .form-control {
            resize: none;
        }

        .modal {
            right: 0;
            overflow: auto;
            outline: 0;
        }
    script(src="/js/jquery.min.js")
    script(src="/js/parsley/parsley.min.js")
    script.
        $(function () {
            //点击收藏歌曲把歌曲id存入我的歌单弹框内
            $('a[name=collect]').click(function () {
                $('#songList').val('');
                var songid;
                songid = $(this).parent().parent().val();
                $('#songList').val(songid);
            });

            //点击收藏，歌单弹框内容用ajax获取
            $('a[name=collect]').click(
                function () {
                    $('li[name=listId]').remove();
                    $('#mylike').hide();
                    $.post("getSongList", {}, function (data, textStatus) {
                        var songListList = data;
                        $.each(songListList, function (i, list) {
                            var $li = $('#mylike').clone();
                            $li.show();
                            $li.appendTo($('#listpop'));
                            $li.attr("id", list.listId);
                            $li.attr("name", "listId");
                            $li.find('a').eq(0).children().attr("src",
                                list.listImg);
                            $li.children().children('p').children().text(
                                list.listName);
                            $li.children().children('p').eq(1).text(
                                list.songsList.length + "首");
                            //点击歌单用ajax传送
                            $('li[name=listId]').click(function () {
                                $.post("collectSong", {
                                    //歌曲要收藏到的歌单
                                    collectListId: $(this).attr('id'),
                                    songId: $('#songList').val()
                                });

                            })
                        })

                    });

                });

            //新建歌单 采用ajax
            $('#new').click(function () {
                $.post("addSongTosongList", {
                        listName: $('input[name=listName]').val(),
                        songId: $('#songList').val()
                    }, function (data, textStatus) {
                        alert("创建,添加成功");
                    }
                );

            })

        })
block body
    body
        <!-- 新建歌单弹框 -->
        div(role="dialog",tabindex="-1",aria-labelledby="myModalLabel",aria-hidden="true",id="newbulid",style="overflow-y: auto;top: 20%;bottom: 40.9%; left: 30%;",class="modal fade auto-1473594539484 m-layer z-show m-layer-w2")
            form(data-validate="parsley",method="POST")
                div#auto-id-rZVKAsR9HnemIBlD.zbar
                    div.zttl 新建歌单
                div.zcnt
                    div#auto-id-I7km2EPlFaoE7uW3(class="lyct m-crgd f-cb f-tc")
                        p 歌单名：
                            input(data-required="true",id="auto-id-LSZQ38VTqM5s7eWT",class="u-txt j-flag",type="text",name="listName")
                        div.u-err.f-vhide.j-flag
                            i.u-icn.u-icn-25
                            ="错误提示"
                        p.tip.s-fc4 可通过“收藏”将音乐添加到新歌单中
                        button#new(type="submit") 新建
                        button#cancel(data-dismiss="modal") 取消
                button(type="button",class="close zcls",data-dismiss="modal",aria-hidden="true",id="auto-id-gZz1lykTByivR2Bd",title="关闭窗体") ×

        section#content(style="height: 100%")
            section#bjax-el.vbox
                section.scrollable.wrapper-lg
                    div.row
                        div.col-sm-8
                            div.panel.wrapper-lg
                                div.row
                                    div.col-sm-5
                                        img(src="#{album.img}",class="img-full m-b")
                                    div.col-sm-7
                                        h4.m-t-none.text-black=album.albumName
                                        div.clearfix.m-b-lg
                                            div.clear
                                                a.text-muted(href="singer?singerId=#{album.singerId}",style="padding: 15px 0px") By #{album.singerName}
                                                small.block.text-muted(style="padding-top: 15px") 发行公司：#{album.companyName}
                                        div.m-b-lg
                                            a(href="javascript:void(0);",id="#{album.albumId}",class="btn btn-sm btn-icon btn-info addAlbumToListAndPlay")
                                                i(class=" icon-control-play")
                                            a(href="javascript:void(0);",id="#{album.albumId}",class="btn btn-rounded btn-sm btn-icon btn-default addAlbumToList")
                                                i(class="icon-plus")
                                            a(href="#comment",class="btn btn-rounded btn-sm btn-icon btn-default")
                                                i(class="icon-speech")

                                        <!-- 添加到歌单弹框 -->
                                        div(id="myModal",role="dialog",tabindex="-1",aria-labelledby="myModalLabel",aria-hidden="true",class="modal fade auto-1473474137786 m-layer z-show m-layer-w2",style="top:15%; left: 30%;")
                                            div#auto-id-bpDfekqTEA8M9tat.zbar
                                                button(type="button",class="close",data-dismiss="modal",aria-hidden="true",style="background-color: white;color:black; width: 20px;height: 20px") &times;
                                                div.zttl 添加到歌单
                                            div.zcnt
                                                input#listId(type="hidden")
                                                div#songList(class="lyct lyct-1 m-favgd f-cb",value="")
                                                    div#newList.tit.j-flag(data-dismiss="modal",data-toggle="modal",data-target="#newbulid")
                                                        i.u-icn.u-icn-33
                                                        ="新歌单"
                                                    div#auto-id-lH2ZTJaEJry8z8NG.j-flag
                                                        ul#listpop
                                                            li#mylike(data-dismiss="modal",class="xtag")
                                                                div.item.f-cb
                                                                    div.left
                                                                        a(href="javascript:void(0)",class="avatar",target="_blank")
                                                                            img(alt="",src="http://p4.music.126.net/zPaZBLAigYIxYHg28VABdg==/3286440256922472.jpg?param=40y40")
                                                                    p.name.f-thide
                                                                        a(class="s-fc0",href="javascript:void(0)",target="_blank") 我喜欢的音乐
                                                                    p.s-fc3 2首

                                div.m-t
                                    - var albumDetail = album.albumDetail.replace(/\n/gi,"<br/>");
                                    p 介绍：!{albumDetail}
                                h4.m-t-lg.m-b 歌曲列表
                                ul.list-group.list-group-lg
                                    if album.songs
                                        each song in album.songs
                                            li(class="list-group-item",id="#{song.songId}",value="#{song.songId}")
                                                div.pull-right.m-l
                                                    a(href="javascript:void(0);",class="m-r-sm")
                                                        i(id="#{song.songId}",class="icon-plus addMusicToList")
                                                    a(name="collect",href="javascript:void(0);" class="m-r-sm")
                                                        i(class="icon-heart",data-toggle="modal",data-target="#myModal")
                                                    a(href="download/#{song.songId}")
                                                        i.icon-cloud-download
                                                a(href="javascript:void(0);",class="jp-play-me m-r-sm pull-left")
                                                    i(id="#{song.songId }",class="icon-control-play text addMusicToListAndPlay")
                                                    i.icon-control-pause.text-active
                                                div.clear.text-ellipsis
                                                    span=song.songName
                                                    span.text-muted   ---   #{song.songTime}
                                include modal/comment
                        include modal/pageRight
            a(href="javascript:void(0);",class="hide nav-off-screen-block",data-toggle="class:nav-off-screen,open",data-target="#nav,html")

        script(src="/js/jquery.min.js")
        script.
            var loginUserId = "#{userId}";
            var comType = "album";
            var replyId = "";
            var replyName = "";

            var mid = #{album.albumId};

        script(src="/js/jquery.sinaEmotion.js")
        script(src="/js/show-tran-emo.js")
        <!-- Bootstrap -->
        script(src="/js/bootstrap.js")
        <!-- App -->
        script(src="/js/app.js")
        script(src="/js/slimscroll/jquery.slimscroll.min.js")

        script(src="/js/app.plugin.js")
        script(type="text/javascript",src="/js/jPlayer/jquery.jplayer.min.js")
        script(type="text/javascript",src="/js/jPlayer/add-on/jplayer.playlist.min.js")
        script(type="text/javascript",src="/js/jPlayer/demo.js")
        script(type="text/javascript",src="/js/musicPlay.js")
        script.
            $(function () {
                addPlayEvents();
            });