extends layout
block otherHead
    style.
        #myMusicPlay {
            position: absolute;
            bottom: 0;
        }

        .tabs-left > ul.nav-tabs {
            float: left;
        }

        .tabs-left > .nav-tabs > li {
            float: none;
            background-color: #edf2f3;
        }

        .tabs-left > .nav-tabs > li > a {
            border: 0;
            margin: 0;
        }

        .tabs-left > .nav-tabs {
            border: 0;
            /*position: relative;*/
            /*top: 27px;*/
            /*left:13px;*/
            text-align: center;
            width: 147px;
        }

        .tabs-left > .nav-tabs > li > a:hover {
            border: 0;
            background-color: #fff;
        }

        .tabs-left > .nav-tabs > li.active > a {
            border: 0;
            background-color: #fff;
        }

        .tab-content {
            overflow: auto;
            background-color: white;
        }

        .tabs-left {
            background-color: #edf2f3;
            height: 100%;
        }

        .scrollable .tab-content {
            height: 100%;
        }

        .tabs-left .tab-content {
            background-color: #fff;
        }

        #interaction {
            height: 100%;
        }

        .tabs-left .tab-pane {
            height: 100%;
            padding: 13px 27px;
        }

        /*在setting页中 填充空白  --*/
        #tianchong {
            height: 106px;
            width: 100%;
            padding-left: 44%;
            padding-top: 5%;
            margin-top: 2.49%;
        }

        /*在setting中 将头像放置中间*/
        #touxiang {
            width: 30%;
            margin-left: 40%;
        }

        /*在setting中表单保存取消按钮居中*/
        #tijiao {
            margin-left: 38%;
            margin-top: 5%;
        }

        /*表单中textarea不能改变大小*/
        .form-control {
            border-color: #cbd5dd;
            border-radius: 2px;
            resize: none;
        }
block body
    body
        section.vbox
            header(class="bg-white-only header header-md navbar navbar-fixed-top-xs")
                div(class="navbar-header aside bg-info nav-xs")
                    a(class="btn btn-link visible-xs",data-toggle="class:nav-off-screen,open",data-target="#nav,html")
                        i.icon-list
                    a(href="indexFrame",target="mContent",class="navbar-brand text-lt")
                        i.icon-earphones
                        img(src="/images/logo.png",alt=".",class="hide")
                        span.hidden-nav-xs.m-l-sm Musik
                    a(class="btn btn-link visible-xs",data-toggle="dropdown",data-target=".user")
                        i.icon-settings
                ul.nav.navbar-nav.hidden-xs
                    li
                        a(href="#nav,.navbar-header",data-toggle="class:nav-xs,nav-xs",class="text-muted")
                            i.fa.fa-indent.text
                            i.fa.fa-dedent.text-active
                form(class="navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs",role="search")
                    .form-group
                        .input-group
                            span.input-group-btn
                                button(type="submit",class="btn btn-sm bg-white btn-icon rounded")
                                    i.fa.fa-search
                            input(type="text",class="form-control input-sm no-border rounded",placeholder="Search songs, albums...")
                .navbar-right
                    ul(class="nav navbar-nav m-n hidden-xs nav-user user")
                        if user
                            li.hidden-xs
                                a(href="profile?userId=#{user.userId }",target="mContent",class="dropdown-toggle lt")
                                    i.icon-bell
                                    if noRead > 0
                                        span(class="badge badge-sm up bg-danger")= noRead
                            li.dropdown
                                a(href="#",class="dropdown-toggle bg clear",data-toggle="dropdown")
                                    span(class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm")
                                        img(src="#{user.userImg }",alt="...")
                                    =user.userName
                                    b.caret
                                ul.dropdown-menu.animated.fadeInRight
                                    li
                                        span.arrow.top
                                        a(href="setting",target="mContent") 个人设置
                                    li
                                        a(href="profile?userId=#{user.userId }",target="mContent") 我的主页
                                    li
                                        a(href="mymusic" target="mContent") 我的音乐
                                    li
                                        a(href="alterPassword" target="mContent") 修改密码
                                    li.divider
                                    li
                                        a(href="userLogout" data-toggle="ajaxModal") 退出
                        else
                            ul(class="nav navbar-nav m-n hidden-xs nav-user user")
                                li.hidden-xs
                                    a(href="login",class="bg clear")
                                        i.icon-login
                                        =" 登录"
                                li.dropdown
                                    a(href="register" class="lt")
                                        i.icon-home
                                        =" 注册"
            section
                section.hbox.stretch
                    aside(class="bg-black dk nav-xs aside hidden-print",id="nav")
                        section.vbox
                            section.w-f-md.scrollable
                                .slim-scroll(data-height="auto",data-disable-fade-out="true",data-distance="0",data-size="10px",data-railOpacity="0.2")
                                    nav.nav-primary.hidden-xs
                                        ul.nav.bg.clearfix
                                            li(class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted") Discover
                                            li
                                                a(href="indexFrame",target="mContent")
                                                    i.icon-disc.icon.text-success
                                                    span.font-bold 首页
                                            li
                                                a(href="search",target="mContent")
                                                    i(class="fa fa-search icon text-primary-lter")
                                                    span.font-bold 搜索
                                            li
                                                a(href="recommend",target="mContent")
                                                    i(class="icon-music-tone-alt icon text-info")
                                                    span.font-bold 推荐歌单
                                            li
                                                a(href="alllist",target="mContent")
                                                    i(class="icon-list icon  text-info-dker")
                                                    span.font-bold 歌单分类
                                            li(class="m-b hidden-nav-xs")
                            if user
                                footer(class="footer hidden-xs no-padder text-center-nav-xs")
                                    .bg.hidden-xs
                                        div(class="dropdown dropup wrapper-sm clearfix")
                                            a(href="javascript:void(0);",class="dropdown-toggle",data-toggle="dropdown")
                                                span(class="thumb-sm avatar pull-left m-l-xs")
                                                    img(src="#{user.userImg}",class="dker",alt="...")
                                                span.hidden-nav-xs.clear
                                                    span.block.m-l
                                                        strong.font-bold.text-lt= user.userName
                                                            b.caret
                                                    span.text-muted.text-xs.block.m-l &nbsp;
                                            ul(class="dropdown-menu animated fadeInRight aside text-left")
                                                li
                                                    span(class="arrow bottom hidden-nav-xs")
                                                    a(href="setting" target="mContent") 个人设置
                                                li
                                                    a(href="profile?userId=#{user.userId }",target="mContent") 我的主页
                                                li
                                                    a(href="mymusic",target="mContent") 我的音乐
                                                li
                                                    a(href="alterPassword",target="mContent") 修改密码
                                                li.divider
                                                li
                                                    a(href="userLogout",data-toggle="ajaxModal") 退出

                    iframe(name="mContent",width="100%",height="100%",style="padding-bottom:60px;border:0",src="indexFrame")
                    footer#myMusicPlay.footer.bg-dark
                        div#jp_container_N
                            div.jp-type-playlist
                                div#jplayer_N.jp-jplayer.hide
                                div.jp-gui
                                    div.jp-video-play.hide
                                        a.jp-video-play-icon play
                                    div.jp-interface
                                        div.jp-controls
                                            div
                                                a.jp-previous
                                                    i.icon-control-rewind.i-lg
                                            div
                                                a.jp-play
                                                    i.icon-control-play.i-2x
                                                a.jp-pause.hid
                                                    i.icon-control-pause.i-2x
                                            div
                                                a.jp-next
                                                    i.icon-control-forward.i-lg
                                            div.hide
                                                a.jp-stop
                                                    i.fa.fa-stop
                                            div
                                                a(class="",data-toggle="dropdown",data-target="#playlist,#lrc_content")
                                                    i.icon-list
                                            div.jp-progress.hidden-xs
                                                div.jp-seek-bar.dk
                                                    div.jp-play-bar.bg-info
                                                        div.jp-title.text-lt
                                                            ul
                                                                li
                                            div(class="hidden-xs hidden-sm jp-current-time text-xs text-muted")
                                            div(class="hidden-xs hidden-sm jp-duration text-xs text-muted")
                                            div.hidden-xs.hidden-sm
                                                a(class="jp-mute",title="mute")
                                                    i.icon-volume-2
                                                a(class="jp-unmute hid",title="unmute")
                                                    i.icon-volume-off
                                            div(class="hidden-xs hidden-sm jp-volume")
                                                div(class="jp-volume-bar dk")
                                                    div(class="jp-volume-bar-value lter")
                                            div
                                                a(class="jp-shuffle",title="shuffle",class="icon-shuffle text-muted")
                                                a(class="jp-shuffle-off hid",title="shuffle off")
                                                    i.icon-shuffle.text-lt
                                            div
                                                a(class="jp-repeat",title="repeat")
                                                    i.icon-loop.text-muted
                                                a(class="jp-repeat-off hid",title="repeat off")
                                                    i.icon-loop.text-lt
                                            div.hide
                                                a(class="jp-full-screen",title="full screen")
                                                    i.fa.fa-expand
                                                a(class="jp-restore-screen",title="restore screen")
                                                    i.fa.fa-compress.text-lt
                                div.jp-playlist.dropup#playlist
                                    ul.dropdown-menu.aside-xl.dker
                                        <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                        li.list-group-item
                                div.dropup#lrc_content
                                    ul.dropdown-menu.dker#lrc_list
                                div.jp-no-solution.hide
                                    span Update Required
                                    =" To play the media you will need to either update your browser to a recent version or update your "
                                    a(href="http://get.adobe.com/flashplayer/",target="_blank") Flash plugin

    script(src="/js/jquery.min.js")
    <!-- Bootstrap -->
    script(src="/js/bootstrap.js")
    <!-- App -->
    script(src="/js/app.js")
    script(src="/js/slimscroll/jquery.slimscroll.min.js")
    script(src="/js/app.plugin.js")
    script(type="text/javascript",src="/js/jPlayer/jquery.jplayer.min.js")
    script(type="text/javascript",src="/js/jPlayer/add-on/jplayer.playlist.min.js")
    script(type="text/javascript",src="/js/jPlayer/demo.js")
    script.
        $('button[type=submit]').click(function(event) {
            var key = $(this).parents('form').find('input[type=text]').val();
            $('iframe[name=mContent]').attr('src', "search?key=" + key);
            event.preventDefault();
        });
    script(type="text/javascript",src="/js/musicPlay.js")