//
   Created by Win on 2017/3/10.
doctype html
html.app(lang="en")
    head
        - var desc = ["Music","音乐","yinyue","music","听歌","歌曲"]
        meta(name="description",content=desc)
        title= title + ' - ' + '有氧音乐'
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet",href="/js/jPlayer/jplayer.flat.css",type="text/css")
        link(rel="stylesheet",href="/css/bootstrap.min.css",type="text/css")
        link(rel="stylesheet",href="/css/bootstrap-datetimepicker.min.css",type="text/css")
        link(rel="stylesheet",href="/css/animate.css",type="text/css")
        link(rel="stylesheet",href="/css/font-awesome.min.css",type="text/css")
        link(rel="stylesheet",href="/css/simple-line-icons.css",type="text/css")
        link(rel="stylesheet",href="/css/font.css",type="text/css")
        link(rel="stylesheet",href="/css/app.css",type="text/css")
        link(rel="stylesheet",href="/js/datepicker/datepicker.css",type="text/css")
        link(rel="stylesheet",href="/js/slider/slider.css",type="text/css")
        link(rel="stylesheet",href="/js/chosen/chosen.css",type="text/css")
        link(rel="stylesheet",href="/css/style.css",type="text/css")
        style.
            .modal-backdrop.fade.in {
                z-index: 0;
            }

            #myMusicPlay {
                position: absolute;
                bottom: 0;
            }

            .tabs-left > ul.nav-tabs {
                float: left;
            }

            .tabs-left > .nav-tabs > li {
                float: none;
                background-color: #edf2f3;
            }

            .tabs-left > .nav-tabs > li > a {
                border: 0;
                margin: 0;
            }

            .tabs-left > .nav-tabs {
                border: 0;
                /*position: relative;*/
                /*top: 27px;*/
                /*left:13px;*/
                text-align: center;
                width: 147px;
            }

            .tabs-left > .nav-tabs > li > a:hover {
                border: 0;
                background-color: #fff;
            }

            .tabs-left > .nav-tabs > li.active > a {
                border: 0;
                background-color: #fff;
            }

            .tab-content {
                overflow: auto;
                background-color: white;
            }

            .tabs-left {
                background-color: #edf2f3;
                height: 100%;
            }

            .scrollable .tab-content {
                height: 100%;
            }

            .tabs-left .tab-content {
                background-color: #fff;
            }

            #interaction {
                height: 100%;
            }

            .tabs-left .tab-pane {
                height: 100%;
                padding: 13px 27px;
            }

            /*在setting页中 填充空白  --*/

            /*在setting中 将头像放置中间*/
            #touxiang {
                width: 30%;
                margin-left: 35%;
            }

            /*在setting中表单保存取消按钮居中*/
            #tijiao {
                margin-left: 38%;
                margin-top: 5%;
                margin-bottom: 5%;
            }

            /*表单中textarea不能改变大小*/
            .form-control {
                border-color: #cbd5dd;
                border-radius: 2px;
                resize: none;
            }

            body.modal-open {
                margin: 0;
            }

            .input-group-addon {
                padding: 0px 0px;
                font-size: 14px;
                font-weight: normal;
                line-height: 1;
                text-align: center;
                background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            select, textarea {
                font-family: inherit;
                font-size: 13px;
                line-height: inherit;
            }

            #tianchong {
                height: 100px;
                width: 100%;
                padding-left: 44%;
                padding-top: 5%;
                /* margin-top: 12%; */
            }
        <!-- file input -->
        script(src="/js/jquery.min.js")
        script(src="/js/file-input/bootstrap-filestyle.min.js")
        script(src="/js/bootstrap.js")
        script(src="/js/bootstrap-datetimepicker.min.js")
        script(src="/js/locales/bootstrap-datetimepicker.zh-CN.js")
        script(src="/js/cropbox.js")
        script(src="/js/distpicker.data.js")
        script(src="/js/distpicker.js")
        script(src="/js/main.js")
    body
        section.vbox
            section
                section.hbox.stretch
                    section#content
                        section.vbox
                            section.scrollable.padder
                                div.m-b-md
                                    h3.m-b-none 个人设置
                                div.row
                                    form.form-horizontal
                                        div.col-sm-6
                                            section.panel.panel-default
                                                header.panel-heading.font-bold 基本信息
                                                div.panel-body
                                                    div.form-group
                                                        label.col-sm-2.control-label 账号
                                                        div.col-sm-10
                                                            input(readonly="readonly",class="form-control",value="#{settingUser.userAccount}")
                                                    div.form-group
                                                        label.col-sm-2.control-label 昵称
                                                        div.col-sm-10
                                                            input(class="form-control",name="userName",value="#{settingUser.userName}")
                                                    div.form-group
                                                        label.col-sm-2.control-label 个人介绍
                                                        div.col-sm-10
                                                            textarea(class="form-control",name="userDetail")=settingUser.userDetail
                                                    div.form-group
                                                        label.col-sm-2.control-label 性别
                                                        div.col-sm-10
                                                            label.radio-inline
                                                                input(id="body",type="radio",name="userGender",value="1",checked=settingUser.userGender == 1)
                                                                | 男
                                                            label.radio-inline
                                                                input(id="girl",type="radio",name="userGender",value="0",checked=settingUser.userGender == 0)
                                                                | 女
                                                    div.form-group
                                                        label.col-sm-2.control-label 生日
                                                        div.col-sm-10
                                                            - var userBirthday = dateFormat.toDateTime(settingUser.userBirthDay);
                                                            div(class="input-group date form_date col-md-5",style="width: 147px;",data-date="#{userBirthday}",data-date-format="yyyy-mm-dd",data-link-field="dtp_input2",data-link-format="yyyy-mm-dd")
                                                                input.form-control(size="16",type="text",value="#{userBirthday}",style="height: auto; font-size: 14px; text-align: center; padding: 3px 12px; width: 91px;",readonly)
                                                                span.input-group-addon
                                                                    span.glyphicon.glyphicon-calendar(style="width: 25px;")
                                                            input#dtp_input2(type="hidden",name="userBirthDay",value="")
                                                            br
                                                            script.
                                                                $('.form_date')
                                                                    .datetimepicker(
                                                                        {
                                                                            language: 'zh-CN',
                                                                            weekStart: 1,
                                                                            autoclose: 1,
                                                                            todayHighlight: 1,
                                                                            startView: 2,
                                                                            minView: 2,
                                                                            forceParse: 0
                                                                        });
                                                    div.form-group
                                                        label.col-sm-2.control-label 地区
                                                        div.col-sm-10(style="font-size: 18px")
                                                            div#addressDIV
                                                                select
                                                                select
                                                                select#address
                                                            if settingUser.district
                                                                script.
                                                                    $("#addressDIV")
                                                                        .distpicker(
                                                                            {
                                                                                province: "#{settingUser.province.addressName}",
                                                                                city: "#{settingUser.city.addressName}",
                                                                                district: "#{settingUser.district.addressName}"
                                                                            });
                                                            else
                                                                script.
                                                                    $("#addressDIV")
                                                                        .distpicker();
                                        div.col-sm-6
                                            section.panel.panel-default
                                                header.panel-heading.font-bold 头像信息
                                                div.panel-body(style="padding-top: 80px;")
                                                    div#touxiang
                                                        div.thumb-lg
                                                            img(src="#{settingUser.userImg}",alt="",class="img-circle")
                                                div#tianchong
                                                    input(class="btn btn-rounded btn-sm btn-info",data-toggle="modal",data-target="#selectImg",type="button",value="修改头像")
                                                    div#selectImg.modal.fade(tabindex="-1",role="dialog" aria-labelledby="myModalLabel",aria-hidden="true",style="text-align: center")
                                                        div.modal-dialog(style="display: inline-block; width: auto;")
                                                            div.modal-content
                                                                .modal-header
                                                                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                                                                    h4#myModalLabel.modal-title 选择头像
                                                                div.modal-body
                                                                    div.container
                                                                        div.imageBox
                                                                            div.thumbBox
                                                                            div.spinner(style="display: none") 加载中...
                                                                        div.action
                                                                            div.new-contentarea.tc
                                                                                a.upload-img(href="javascript:void(0)")
                                                                                    label(for="upload-file") 上传图像
                                                                                input(type="file",name="upload-file",id="upload-file")
                                                                            input#btnCrop.Btnsty_peyton(type="button",value="裁切",style="display: none")
                                                                            input#btnZoomIn.Btnsty_peyton(type="button",value="+")
                                                                            input#btnZoomOut.Btnsty_peyton(type="button",value="-")
                                                                        div.cropped
                                                                        input(type="text",name="image",hidden="hidden")
                                                                div.modal-footer
                                                                    button(type="button",class="btn btn-default",data-dismiss="modal") 关闭
                                                                    button(type="button",class="btn btn-primary") 提交更改
                                        div#tijiao.col-sm-10
                                            button(type="submit",class="btn btn-s-md btn-info btn-rounded") 提交
                                            button(type="reset",class="btn btn-s-md btn-info btn-rounded") 取消
                                    div#errorMess.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                                        div.modal-dialog
                                            div.modal-content
                                                div.modal-header
                                                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") ×
                                                    h4.modal-title ERROR
                                                div.modal-body 用户信息修改失败...
                                                div.modal-footer
                                                    button(type="button",class="btn btn-default",data-dismiss="modal") 关闭
                                    div#successMess.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
                                        div.modal-dialog
                                            div.modal-content
                                                div.modal-header
                                                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") ×
                                                    h4.modal-title 有氧音乐提醒您
                                                div.modal-body 用户信息修改成功...
                                                div.modal-footer
                                                    button(type="button",class="btn btn-default",data-dismiss="modal") 关闭
                                                    button(type="button",class="btn btn-primary") 刷新界面
        script.
            var haveSelect = false;
            $(window)
                .load(
                    function () {
                        var options = {
                            thumbBox: '.thumbBox',
                            spinner: '.spinner',
                            imgSrc: '#{settingUser.userImg}'
                        }
                        var cropper = $(
                            '.imageBox')
                            .cropbox(
                                options);
                        $(
                            '#upload-file')
                            .on(
                                'change',
                                function () {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        options.imgSrc = e.target.result;
                                        cropper = $(
                                            '.imageBox')
                                            .cropbox(
                                                options);
                                    }
                                    reader
                                        .readAsDataURL(this.files[0]);
                                    this.files = [];
                                })
                        $(
                            '#btnCrop')
                            .on(
                                'click',
                                function () {
                                    var img = cropper
                                        .getDataURL();
                                    $(
                                        '.cropped')
                                        .html(
                                            '');
                                    $(
                                        '.cropped')
                                        .append(
                                            '<img src="' + img + '" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
                                    $(
                                        '.cropped')
                                        .append(
                                            '<img src="' + img + '" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
                                    $(
                                        '.cropped')
                                        .append(
                                            '<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
                                    $(
                                        'input[name=image]')
                                        .val(
                                            img);
                                })
                        $(
                            '#btnZoomIn')
                            .on(
                                'click',
                                function () {
                                    cropper
                                        .zoomIn();
                                })
                        $(
                            '#btnZoomOut')
                            .on(
                                'click',
                                function () {
                                    cropper
                                        .zoomOut();
                                })
                    });
            $('#selectImg .modal-footer button:last')
                .click(
                    function () {
                        var str = $(
                            'input[name=image]')
                            .val();
                        if (str.length > 0) {
                            $(
                                '.thumb-lg img')
                                .attr(
                                    'src',
                                    str);
                            $(
                                '#selectImg')
                                .modal(
                                    'hide');
                        } else {
                            alert('未选择图片...');
                        }
                    });
            $('#successMess button.btn-primary').click(function () {
                location.reload();
            });
            var name = "#{settingUser.userName}";
            var gender = "#{settingUser.userGender}"
            var detail = "#{settingUser.userDetail==null?'':settingUser.userDetail}";
            var birthday = new Date('#{settingUser.userBirthDay==null?"1999-09-09":settingUser.userBirthDay}').toUTCString();
            var img = "#{settingUser.userImg}";
            var address = "#{settingUser.district!=null?settingUser.district.addressId:''}";
            $('button[type=submit]').click(function (event) {
                var nname = $('input[name=userName]').val().trim();
                var ngender = $('input[name=userGender]:checked').val();
                var ndetail = $('textarea[name=userDetail]').val().trim();
                var nbirthday = $('input[name=userBirthDay]').val();
                var nimg = $('input[name=image]').val();
                var naddress = $('#address option:selected').attr('data-code');
                var u = {};
                var tag = false;
                if (name != nname && nname != '') {
                    u.userName = nname;
                    tag = true;
                }
                if (gender != ngender) {
                    u.userGender = ngender;
                    tag = true;
                }
                if (detail != ndetail && ndetail != '') {
                    u.userDetail = ndetail;
                    tag = true;
                }
                if (birthday != new Date(nbirthday).toUTCString() && nbirthday != '') {
                    u.userBirthDay = nbirthday;
                    tag = true;
                }
                if (img != nimg && nimg != '') {
                    u.userImg = nimg;
                    tag = true;
                }
                if (address != naddress && naddress != '') {
                    u.userAddress = naddress;
                    tag = true;
                }
                if (tag) {
                    $.ajax({
                        url: "setting",
                        type: "POST",
                        data: JSON.stringify(u),
                        contentType: "application/json",
                        success: function (ret) {
                            if (ret) {
                                $('#successMess').modal();
                            } else {
                                $('#errorMess').modal();
                            }
                        }
                    });
                }
                event.preventDefault();
            });
